@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8kl6or');
  src:  url('../fonts/icomoon.eot?8kl6or#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8kl6or') format('truetype'),
    url('../fonts/icomoon.woff?8kl6or') format('woff'),
    url('../fonts/icomoon.svg?8kl6or#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\f00c";
}
.icon-square:before {
  content: "\f0c8";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
